{% extends "photos/base_photos.html" %}
{% load i18n %}

{% block body_class %}index{% endblock %}

{% block body %}
	<div id="content">
		<h1 id="photos">{% trans "Photos" %}</h1>
		
		<div class="galleries">
			<h2 id="recently_updated_galleries">{% trans "Recently Updated Galleries" %}</h2>
			<ul>
				{# for gallery in galleries #}
				{# endfor #}
			</ul>
		</div>
		
		<div id="secondary">
			<div class="module" id="description">
				<h2>{% trans "Description" %}</h2>
				{# site_description #}
			</div>
			
			<div class="module" id="favorites">
				<h2>{% trans "Favorites" %}</h2>
				<ul id="favlist">
					{# for gallery in favorites #}
					{# endfor #}
				</ul>
			</div>
			
			<div class="module" id="gallery_data">
				<h2>{% trans "Gallery data" %}</h2>
				<table cellspacing="0" class="gallerydata">
					<tr>
						<th><a href="{% url photo_gallery_list %}">{% trans "Galleries" %}</a></th>
						<td>{# galleries_count #}</td>
						<td><a href="{% url photo_galleries_feed %}" title="{% trans "RSS feed for recent galleries" %}" class="i"><img src="/photos/meta/img/icon_feed12.gif" alt="{% trans "XML feed" %}" width="12" height="12" /></a></td>
					</tr>
					<tr>
						<th>{% trans "Photo" %}</th>
						<td>{# photos_count #}</td>
						<td><a href="{% url photos_feed %}" title="{% trans "RSS feed for recent photos" %}" class="i"><img src="/photos/meta/img/icon_feed12.gif" alt="{% trans "XML feed" %}" width="12" height="12" /></a></td>
					</tr>
					<tr>
						<th><a href="{% url photo_comments %}">{% trans "Comment" %}</a></th>
						<td>{# comments_count #}</td>
						<td><a href="{% url photo_comments_feed %}" title="{ trans "RSS feed for recent comments" %}" class="i"><img src="/photos/meta/img/icon_feed12.gif" alt="{% trans "XML feed" %}" width="12" height="12" /></a></td>
					</tr>
					<tr>
	  					<th><a href="{% url photo_favorites %}">{% trans "Favorites" %}</a></th>
						<td>{# favorites_count #}</td>
						<td><a href="/photos/favorites/index.xml" title="{% trans "RSS feed for favorite photos" %}" class="i"><img src="/photos/meta/img/icon_feed12.gif" alt="{% trans "XML feed" %}" width="12" height="12" /></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<p id="path">{% trans "Photos" %}</p>
	
	<div id="footer">
		<hr>
		<p>{# site_footer #}</p>
	</div>
	</div>
{% endblock %}