{% extends "photos/base_photos.html" %}

{#
	This gallery design and set of template files that recreate it are licensed
	under a Creative Commons Attribution-NonCommercial-ShareAlike 2.5 License.
	You’re free to download, use, modify, and repurpose these templates in any
	way you wish, as long as they’re not used, bartered, or sold for commercial
	purposes. If you redistribute any work, you must release it under the same
	license. Please include credit to the original designer/author (Stopdesign),
	and include a visible link back to the original download and documentation page
	http://stopdesign.com/templates/photos/.
	
	Templates and files are provided "as-is", without warranty of any kind, and
	without guarantee of support or future updates.
	
	Stopdesign and Douglas Bowman are not liable or responsible for any content
	published using these templates, nor are they liable or responsible for any
	illegal activity, damage, slander, or negligence caused by or the result of
	using or publishing content with these templates or any related variations
	created by other entities. By downloading and/or using the template package,
	you automatically accept the license and these terms and conditions.
	
	A copy of this license is included in photos/LICENSE.markdown and available online
	at http://code.google.com/p/django-photo-gallery/wiki/License.
#}

{% load i18n photos %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block body_id %}gallery_detail{% endblock %}
{% block body_class %}gallery{% endblock %}

{% block content %}
	<div class="galleryinfo">
		<h1 id="{{ gallery.slug }}">{{ gallery.title }}</h1>
		<p class="desc">
			{{ gallery.description }}
		</p>
	</div>
	
	<ul class="slides">
		{% if has_previous %}
			<li class="thumb backward"><a href="?page={{ previous }}"><img alt="{% trans "Previous page" %}" title="{% trans "Previous page" %}" src="{% photo_media_prefix %}img/moreslide_prev.gif" width="90" height="67"></a></li>
		{% endif %}
		{% for photo in photos %}
			<li class="thumb {{ photo.location }}">
				<a href="{{ photo.get_absolute_url }}">
					<img src="{{ photo.get_small_url }}" atl="{{ photo.title }}" title="{{ photo.title }}">
				</a>
			</li>
		{% endfor %}
		{% if has_next %}
			<li class="thumb forward"><a href="?page={{ next }}"><img alt="{% trans "Next page" %}" title="{% trans "Next page" %}" src="{% photo_media_prefix %}img/moreslide_next.gif" width="90" height="67"></a></li>
		{% endif %}
	</ul>
	
	<div class="galleryinfo">
		<p>{% trans "Feed for this gallery:" %} <a href="{# gallery_feed #}" class="i"><img src="{% photo_media_prefix %}img/btn_rss.gif" alt="{% trans "XML feed" %}" width="22" height="11" /></a></p>
		<!-- <form action="." method="post" accept-charset="utf-8">
			<fieldset>
				<strong>Display how many posts?</strong>
				<div>
					<select name="quantity" id="quantity">
						<option value="25" selected="selected">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
						<option value="all">ALL</option>
					</select>
					<label for="quantity">per page</label>
				</div>
			</fieldset>
			<fieldset>
				<strong>In what order?</strong>
				<div>
					<input type="radio" name="order" value="old" id="order-old" checked="checked">
					<label for="order-old" class="selected">old to new</label>
				</div>
				<div>
					<input type="radio" name="order" id="order-new" value="new" />
					<label for="order-new">new to old</label>
				</div>
			</fieldset>
			<p><input type="image" src="{% photo_media_prefix %}img/btn_save.gif" alt="Save" class="btn"></p>
		</form> -->
		<p>
			<em class="count">{% trans "Photos" %} {{ first_on_page }}-{{ last_on_page }} of {{ gallery.photo_count }}</em>
			{% if has_previous %}
				<a href="?page={{ previous }}" accesskey="z">{% trans "&laquo; previous page" %}</a>
			{% endif %}
			{% if has_next %}
				<a href="?page={{ next }}" accesskey="x">{% trans "next page &raquo;" %}</a>
			{% endif %}
		</p>
	</div>
{% endblock %}
{% block path %}
	<a href="{% url photo_gallery_index %}">{% trans "Photos" %}</a> > <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> > {% trans "Gallery" %}
{% endblock %}