{% extends "photos/base_photos.html" %}

{#
	This gallery design and set of template files that recreate it are licensed
	under a Creative Commons Attribution-NonCommercial-ShareAlike 2.5 License.
	You’re free to download, use, modify, and repurpose these templates in any
	way you wish, as long as they’re not used, bartered, or sold for commercial
	purposes. If you redistribute any work, you must release it under the same
	license. Please include credit to the original designer/author (Stopdesign),
	and include a visible link back to the original download and documentation page
	http://stopdesign.com/templates/photos/.
	
	Templates and files are provided "as-is", without warranty of any kind, and
	without guarantee of support or future updates.
	
	Stopdesign and Douglas Bowman are not liable or responsible for any content
	published using these templates, nor are they liable or responsible for any
	illegal activity, damage, slander, or negligence caused by or the result of
	using or publishing content with these templates or any related variations
	created by other entities. By downloading and/or using the template package,
	you automatically accept the license and these terms and conditions.
	
	A copy of this license is included in photos/LICENSE.markdown and available online
	at http://code.google.com/p/django-photo-gallery/wiki/License.
#}

{% load i18n photos %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block body_id %}photo_detail{% endblock %}
{% block body_class %}photosolo{% endblock %}

{% block content %}
	<div id="desc">
		<h1>{{ photo.title }}</h1>
		<p>{% if photo.description %}{{ photo.description }}{% else %}{% trans "No description" %}{% endif %}</p>
	</div>
	
	<div id="main">
		<p id="photo"><img src="{{ photo.get_large_url }}" atl="{{ photo.title }}" title="{{ photo.title }}"></p>
		<div id="meta">
			<ul>
				{# TODO: Get next and previous working. #}
				<li class="count">Photo 1 of 1</li>
				<li class="date">{{ photo.created }}</li>
				<li class="tags"></li>
			</ul>
		</div>
		
		{# TODO: Put comments here #}
	</div>
{% endblock %}

{% block path %}
	<a href="{% url photo_gallery_index %}">{% trans "Photos" %}</a> > <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> > <a href="{{ gallery.get_gallery_url }}">{% trans "Gallery" %}</a> > {{ photo.title }}
{% endblock %}